extends _layout
block content
	include dropmenu
	.enable-today__block
		.container-fluid
			.map__block._hidden
				script.
					$(document).ready(function(){
						var myMap;
						ymaps.ready(init);
						function init() {
						myMap = new ymaps.Map('map', {
							center: [55.76, 37.64],
							zoom: 10,
							controls: ['zoomControl']
						});
						myMap.behaviors.disable('scrollZoom');
						}
					});
				a.map__button._hidden(href="#") Показать карту
				#map
			.sorting__block
				ul.sorting__list.list-inline
					li.sorting__item Сортировать:
					li.sorting__item
						a.sorting__type._active(href="#") От дешевых к дорогим
					li.sorting__item
						a.sorting__type(href="#") От дорогих к дешевым
					li.sorting__item
						a.sorting__type(href="#") По количеству отзывов
					li.sorting__item
						a.sorting__type(href="#") По дате добавления
			.enable-today__wrap
				a.enable-today__item(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 80 грн
					h3.enable-today__name Презентабельная квартира
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 2280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
				a.enable-today__item._vip(href="#")
					.enable-today__inner
						img.enable-today__image(src="img/content/today1.jpg", alt="")
						p.enable-today__price 280 грн
					h3.enable-today__name Презентабельная квартира, центр ул. Саксаганского 19
					.enable-today__detail
						span.enable-today__attr._bed 2 кровати
						span.enable-today__attr._person 4 гостя
						span.enable-today__attr._feedback 27 отзывов
			.text-center
				button.button._marg Показать ещё
	.description__block
		.container-fluid
			.social__widgets
				div#vk_groups
				.fb-page(data-href="https://www.facebook.com/facebook" data-width="276" data-height="271" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true")
			.description__inner
				h1.description__title <strong>КВАРТИРАНТ</strong> - сайт №1 в Украине в сфере посуточной аренды жилья. 
				p.description__text Здесь Вы можете найти и забронировать нужную вам квартиру в разных уголках Украины напрямую от владельцев с их прямыми контактными данными. Без посредников, без комиссии, без проблем!
				p.description__follow Следите за нами в соцсетях
