extends _layout
block content
	include dropmenu
	.univ__block
		.container-fluid
			.univ__inner
				h1.univ__title О квартиранте
				p.univ__text._gray Мы подготовили ответы на часто задаваемые вопросы то наших гостей
				.question__block
					a.question__link(href="#")
						span.question__border Если нужного города нет на карте/в списке городов?
					p.question__answer Все контактные данные владельца (номера телефонов, e-mail) находятся «внутри квартиры». Поэтому Вам достаточно выбрать наиболее интересный для Вас вариант, кликнуть на блочок квартиры и связаться с владельцем напрямую.
				.question__block
					a.question__link(href="#")
						span.question__border Как связаться с владельцем квартир?
					p.question__answer Все контактные данные владельца (номера телефонов, e-mail) находятся «внутри квартиры». Поэтому Вам достаточно выбрать наиболее интересный для Вас вариант, кликнуть на блочок квартиры и связаться с владельцем напрямую.
				.question__block
					a.question__link(href="#")
						span.question__border Что делать если Вы отправили запрос владельцу, но уже длительное время он не отвечает?
					p.question__answer Все контактные данные владельца (номера телефонов, e-mail) находятся «внутри квартиры». Поэтому Вам достаточно выбрать наиболее интересный для Вас вариант, кликнуть на блочок квартиры и связаться с владельцем напрямую.
				.question__block
					a.question__link(href="#")
						span.question__border Можно ли забронировать квартиру?
					p.question__answer Все контактные данные владельца (номера телефонов, e-mail) находятся «внутри квартиры». Поэтому Вам достаточно выбрать наиболее интересный для Вас вариант, кликнуть на блочок квартиры и связаться с владельцем напрямую.
				.question__block
					a.question__link(href="#")
						span.question__border Можно ли забронировать квартиру?
					p.question__answer Все контактные данные владельца (номера телефонов, e-mail) находятся «внутри квартиры». Поэтому Вам достаточно выбрать наиболее интересный для Вас вариант, кликнуть на блочок квартиры и связаться с владельцем напрямую.
				.question__block
					a.question__link(href="#")
						span.question__border Можно ли забронировать квартиру?
					p.question__answer Все контактные данные владельца (номера телефонов, e-mail) находятся «внутри квартиры». Поэтому Вам достаточно выбрнапрямую.
	.description__block
		.container-fluid
			.social__widgets
				div#vk_groups
				.fb-page(data-href="https://www.facebook.com/facebook" data-width="276" data-height="271" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true")
			.description__inner
				h1.description__title <strong>КВАРТИРАНТ</strong> - сайт №1 в Украине в сфере посуточной аренды жилья. 
				p.description__text Здесь Вы можете найти и забронировать нужную вам квартиру в разных уголках Украины напрямую от владельцев с их прямыми контактными данными. Без посредников, без комиссии, без проблем!
				p.description__follow Следите за нами в соцсетях
