footer.footer
	.container-fluid
		.footer__block-links
			a.footer__link(href="#") О проекте
			a.footer__link(href="#") Условия сотрудничества
			a.footer__link(href="#") Справка
		.copyright__block
			p.copyright__text © 2015 Квартирант - посуточная аренда
			p.copyright__develop Разработка сайта - студия 
				a.copyright__link(href="www.studio-maximus.com") “Максимус”
		.social__block
			a.social__link._fb(href="#")
			a.social__link._goog(href="#")
			a.social__link._vk(href="#")
			a.social__link._tw(href="#")
			a.social__link._in(href="#")
			a.social__link._youtube(href="#")
			a.social__link._inst(href="#")
