header.header
	.container-fluid
		div.enter__block
			//- a.enter__link.modal(href="#enter") Войти
			a.enter__link._withImg(href="#") 
				img.enter__img(src="img/content/cat1.jpg", alt="")
				span.enter__name Иван
			a.enter__rent(href="#") Сдать квартиру
		a.header__logo(href="/")
			img(src="img/logo.png" alt="Site Logo")
		div.number__block
			span.number__text На сайте
			span.number__num-aparts 12222
			span.number__text#room квартира 
			span.number__text  в 
			span.number__text._light 46 городах 
			span.number__text Украины
		div.current__block
			a.current__item.active(href="#") ₴
			a.current__item(href="#") €
			a.current__item(href="#") $
