head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=1024, initial-scale=1")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(description="")
	meta(keywords="")

	link(rel="shortcut icon" type="images/vnd.microsoft.icon" href="favicon.ico")
	link(href="css/styles.css" rel="stylesheet" type='text/css' media="screen")

	script(src="js/jquery.js")
	script(src="//vk.com/js/api/openapi.js?116")
	script(src="//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3")
	// Подключаем только там, где есть яндекс карта
	script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
	//
	script(src="js/plugins.js")
	// подключить только на странице комнаты
	script(src="js/room_plugins.js")
	//
	script(src="js/script.js")
	title